In [3]:
import pandas as pd
from sqlalchemy import create_engine
#from msiapp import app


player_info = pd.read_csv("player_info.csv")
tournament_info = pd.read_csv("tournament_info.csv")

DB_URL = 'mysql+pymysql://root:mypassword@tryrds.cgc88eyrdecc.us-west-1.rds.amazonaws.com:3306/flask'

# application.config['SQLALCHEMY_DATABASE_URI'] = DB_URL
# application.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False # silence the deprecation warning

engine = create_engine(DB_URL)

player_info.to_sql(name='player_info', con = engine, if_exists = 'append', index=False)
#player_info = pd.read_sql_query('select * from player_info',con=engine)

tournament_info.to_sql(name='tournament_info', con = engine, if_exists = 'append', index=False)
#player_info = pd.read_sql_query('select * from tournament_info',con=engine)

# db = SQLAlchemy(application)

In [5]:
player_info = pd.read_sql_query('select * from player_info',con=engine)

In [6]:
player_info.head()

,date,player_id,player_name,rank,rank_point,player_ht,player_age
0,20180212,104745,Rafael Nadal,1,9760,185,31.619439
1,20180212,103819,Roger Federer,2,9605,185,36.438056
2,20180212,105227,Marin Cilic,3,4960,198,29.297741
3,20180212,105777,Grigor Dimitrov,5,4425,188,26.669405
4,20180212,105676,David Goffin,7,3400,163,27.164956